body {
background: #f5f5f5;
color: #000000;
font-family: Arial, Times New Roman;
font-size: 30px;
align: center;
}
header {
border: 1px solid black;
background: pink;
float: center;
height: 100px;
width: 100%;
}
aside {
border-right: 1px solid black;
border-left: 1px solid black;
background: orange;
float: left;
width: 10%;
height: 400px;
writing-mode: vertical-rl; 
transform: rotate(-180deg);
}
content {
background: #87cefa;
float: left;
width: 79.7%;
height: 400px;
}
asider {
border-right: 1px solid black;
border-left: 1px solid black;
background: orange;
float: right;
width: 10%;
height: 400px;
writing-mode: vertical-rl; 
transform: rotate(-180deg);
}


footer {
border: 1px solid black;
background: #f0f0f0;
float: left;
height: 80px;
width: 50%;
}
footerr {
border-right: 1px solid black;
border-top: 1px solid black;
border-bottom: 1px solid black;
background: gray;
float: right;
height: 80px;
width: 49.8%;
}